<h1>Introduce</h1>

<%= form_for @user do |f| %>

<%= f.label :first_name, "First Name" %>
<%= f.text_field :first_name, :class => "form-control" %>

<%= f.submit 'save', :class => "btn btn-primary" %>
<% end %>
