<b><p>Dear <%= @teacher.first_name %> <%= @teacher.last_name  %></p></b>

<p>
Student <%= @user.first_name %> <%= @user.last_name %> has booked your lesson.
Wish you a pleasant experience
</p>

<p>
<b>AmazingTutor</b>
Email Address: amazingtutorlnc@gmail.com
</p>