<b><p>Dear <%= @user.first_name %> <%= @user.last_name  %>,</p></b>
<br />
<p>
You has booked <b><%= @teacher_user.first_name %> <%= @teacher_user.last_name %></b>'s lesson.
Wish you a pleasant journey!
<%#= @startTime %>
</p>
<br />
<br />
<br />
<p><b>AmazingTutor</b></p>
<p>Website: http://www.amazing-tutor.com/</p>
<p>Facebook Message: http://m.me/AmazingTutor101</p>
<p>Email Address: amazingtutorlnc@gmail.com</p>