<b><p>Dear <%= @teacher_user.first_name %> <%= @teacher_user.last_name  %></p></b>

<p>
Student <b><%= @user.first_name %> <%= @user.last_name %></b> has booked your lesson.
Wish you a pleasant experience
</p>

<p><b>AmazingTutor</b></p>
<p>Email Address: amazingtutorlnc@gmail.com</p>
