<div id="login-black" class="pop-bg"></div>
<div id="login-white" class="login">
  <div class="container-fluid">
    <h2>Log In</h2>
    <hr>

    <%= button_tag "Log In With Facebook", {:class => "logindb", :id=>"" } %>
    <%= button_tag "Log In With Google", {:class => "logingoogle", :id=>"" } %>

    <h5>or</h5>
    <%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%#= f.label :email %><br/>
    <%#= f.email_field :email, autofocus: true %>
    <%#= f.label :password %><br/>
    <%#= f.password_field :password, autocomplete: "off" %>
  </div>
  <%#= f.submit "Log in" %>
  <%# end %>
</div>
