<div class="jumbotron jumbotron-modify">
  <div class="container">
    <div class="jumbotron-fix">
      <h2>Find a Chinese Tutor</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid saepe in sequi voluptatum ducimus id, error ex, esse nisi ipsam mollitia quisquam atque repudiandae dolorum. Aspernatur quod ducimus dicta laborum explicabo totam inventore neque
        doloremque, reprehenderit temporibus excepturi facere. Error unde voluptates cum reiciendis labore, dolorem, modi vero sed impedit.</p>
    </div>
  </div>
</div>

<div class="container-fluid search">
  <div class="row">
    <div class="container">
      <div class="col-sm-4 col-md-4">
        <p>Tutor's Sub-languages</p>
        <%#= collection_select({},:language_ids, Language.all, :id, :language,{:prompt => "Teacher also know the ...."}, { :id => "index_languages",:style=>"width:100%;" }) %>
        <div class="dropdown dropdown-language">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Teacher also know the ....
            <span class="caret dropdown-language-span"></span>
          </button>
          <ul class="dropdown-menu dropdown-language-menu" aria-labelledby="dropdownMenu1">
            <% Language.all.each do |l| %>
            <li><%= link_to l.language, root_path( :language_id => l.id ) %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <p>Availability</p>
        <select id="js-example-basic-single" style="width: 100%">
          <option value="AL">星期八</option>
          <option value="WY">超級八</option>
        </select>
      </div>
      <div class="col-sm-4 col-md-4">
        <p>Price</p>
        <input id="priceslide" type="text" class="priceslide" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]" style="width:100% !important"/>
      </div>
    </div>
  </div>
</div>

<div id="teachers">
  <%= render :partial => "teacher", :locals => {:teachers => @teachers} %>
</div>

<script>
  $(document).ready(function () {
    $("#js-example-basic-single").select2();
    // $("#index_languages").select2().on("change", function (e) {
    //   var lan_id = $("#index_languages").val();
    //   if (lan_id != "") {
    //     console.log(lan_id);
    //     $.ajax({
    //       type: 'get',
    //       url: "/",
    //       data: {
    //         lan_id: lan_id
    //       }
    //     });
    //   }
    // });
    $("#priceslide").slider();
  });
</script>
