.calendar-content {
  margin-top: 20px;
  padding: 0 15px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 0;
}
.fc-state-default {
  background-image: none;
  background-color: #fff;
  box-shadow: none;
  border: none;
  &:focus {
    outline: none;
  }
}
.fc-center {
  h2 {
    font-size: 20px;
    color: #787C83;
    font-weight: lighter;
    margin-top: 5px;
  }
}
.calendar-drag {
  h4 {
    font-size: 14px;
  }
}
.calendar-drag-content {
  height: 85px;
  overflow: hidden;
  .fc-event {
    background-color: #FC6063;
    text-transform: capitalize;
    border: none;
    height: 30px;
    width: 47%;
    font-size: 13px;
    line-height: 2.3;
    display: inline-block;
    float: left;
    margin: 10px 4px;
    text-align: center;
    border-radius: 5px;
    font-weight: lighter;
    padding: -2px;
  }
}
.calendar-content-other {
  margin-top: 15px;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 15px 15px;
}
.calendar-teacher {
  text-align: left;
  h5 {
    margin-bottom: -10px;
  }
}
.fc-time-grid-event {
  margin-left: -1px !important;
  border: 0;
  border-right: 0;
  opacity: 0.8;
  .fc-time {
    white-space: normal;
  }
}
.fc-bgevent-container .fc-bgevent {
  opacity: 0.6;
}
@media (max-width: $screen-xs-min) {
  .calendar-drag-content {
    height: 90px;
    overflow: hidden;
  }
}
@media (max-width: $screen-md-min) {
  .calendar-content {
    padding: 0 0 15px;
    margin: 15px 0;
    .public-head {
      margin: -10px 0 15px;
    }
  }
  .calendar-content-other {
    margin-top: 610px;
    .public-head {
      margin-top: 0;
      margin-top: -15px;
    }
  }
}
@media (min-width: $screen-md-min) {
  .calendar-content {
    padding-bottom: 15px;
    .public-head {
      margin: -15px 0 0;
    }
  }
}
