.calendar-content {
  margin-top: 20px;
  padding: 0 15px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 0;
}
.fc-state-default {
  background-image: none;
  background-color: #fff;
  box-shadow: none;
  border: none;
  &:focus {
    outline: none;
  }
}
.fc-center {
  h2 {
    font-size: 20px;
    color: #787C83;
    font-weight: lighter;
    margin-top: 5px;
  }
}
.calendar-content-other {
  margin-top: 15px;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 15px 15px;
}
.calendar-teacher {
  text-align: left;
  h5 {
    margin-bottom: -10px;
  }
}
.fc-time-grid-event {
  margin-left: -1px !important;
  border: 0;
  border-right: 0;
  opacity: 0.8;
  .fc-time {
    white-space: normal;
  }
}
.fc-bgevent-container .fc-bgevent {
  opacity: 0.6;
  // background-color: #e7e7e7;
  // background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, #fff 10px, #fff 15px);
}
.fc-unthemed .fc-today {
  background: rgba(187, 187, 187,0.15);
}
.fc-toolbar{
  margin-top: 10px;
 .fc-prev-button, .fc-next-button{
   background-color: rgba(252, 96, 99, 0.57);
   border-radius: 5px;
   color: #ffffff;
   font-weight: lighter;
   text-shadow: none;
  }
}
@media (max-width: $screen-xs-min) {
  .calendar-drag-content {
    height: 90px;
    overflow: hidden;
  }
}
@media (max-width: $screen-md-min) {
  .calendar-content {
    padding: 0 0 15px;
    margin: 15px 0;
    .public-head {
      margin: -10px 0 15px;
    }
  }
  .calendar-content-other {
    margin-top: 610px;
    .public-head {
      margin-top: 0;
      margin-top: -15px;
    }
  }
}
@media (min-width: $screen-md-min) {
  .calendar-content {
    padding-bottom: 15px;
    .public-head {
      margin: -15px 0 0;
    }
  }
}
