
// Place all the styles related to the evaluations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.evaluation-button {
  a {
    font-size: 15px;
    color: #6BB8F2;
    margin: 30px 50px;
    text-decoration: none;
  }
}
.evaluation {
  background-color: #F6F6F6;
  border-radius: 5px;
  img {
    width: 100px;
    border-radius: 50%;
  }
  h4,
  p {
    color: #8D8D8D;
    font-weight: lighter;
  }
}
.evaluation-me {
  margin-bottom: 30px;
  h4 {
    margin: 20px 0;
  }
  p {
    font-size: 14px;
  }
}
.evaluation-comment {
  p {
    font-size: 12px;
  }
  h5 {
    line-height: 0.8;
    margin-bottom: -10px;
  }
  textarea {
    background-color: transparent;
    width: 100%;
    height: 150px;
    resize: none;
    border: none;
    // overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 13px;
  }
}
.evaluation-white{
  height: 551px;
  width: 497px;
  z-index: 5000;
  margin-bottom: 20px;
  position: absolute;
  top: 9%;
  left: 50%;
  transform: translate(-77%);
}

.mask{
  display:none;
  position: fixed;
  width:100%;
  height:100%;
  background:#000;
  z-index:1;
  top:0;
  left:0;
  opacity:0.5;
}
.content{
  display:none;
  position: relative;
  width:100px;
  height:200px;
  z-index:2;
  top:0;
  left:0;

}
.contentInside{
  margin:0 auto;
  width: 50px;
}

