#error_explanation {
  h2 {
    display: none;
    margin: 0;
  }
}
.loginbutton {
  margin-top: 13px;
  color: #fff;
  background-color: #C73C3C;
  border: none;
  outline: 0;
  margin: 13px 12px;
  background: transparent;
}
.reset {
  .logup_input input {
    height: 50px;
    border-color: #FDAFB1;
  }
  .goto {
    a {
      color: #bbb;
      text-decoration: none;
    }
    margin: 10px auto;
  }
}
.alert {
  float: left;
}
.forgot-newcount {
  a {
    color: #BEBEBE;
    text-decoration: none;
    margin-bottom: 10px;
    &:nth-child(2) {
      float: right;
    }
  }
}
.up {
  .facegoogle a:nth-child(3) {
    position: absolute !important;
    height: 145px !important;
  }
  .logup_input {
    input {
      border-color: #FDAFB1;
      height: 50px;
      width: 100%;
    }
    em {
      font-size: 12px;
      position: absolute;
      right: 23px;
      bottom: 75px;
      color: #bbb;
    }
  }
  .account {
    margin-bottom: 5px;
    a,
    span {
      text-decoration: none;
      color: #bbb;
    }
  }
}
.login {
  position: fixed;
  top: 20px;
  left: 45%;
  background: #fff;
  border-radius: 5px;
  width: 417px;
  height: 400px;
  z-index: 5000;
}
.log {
  margin: 20px auto;
  background: #fff;
  border-radius: 5px;
  width: 417px;
  height: 100%;
  h3 {
    line-height: 0.9;
    font-weight: lighter;
    text-align: center;
    padding-top: 10px;
  }
  p {
    top: 214px;
    font-size: 19px;
    left: 48%;
  }
  input[type=submit] {
    bottom: 0;
    background-color: #FC6063;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #fff;
    font-size: 24px;
    height: 58px;
    border: 0;
    width: 417px;
    font-weight: lighter;
  }
  input[type=email] {
    margin: auto;
  }
  input[type=password] {
    margin: 5px auto;
  }
  .login_input input {
    border-color: #FDAFB1;
    height: 50px;
    width: 100%;
  }
  .field label {
    font-weight: lighter;
    margin-left: 5px;
  }
  .forgot,
  .newcount {
    color: #bbb;
    text-decoration: none;
  }
  .newcount {}
  .or {
    margin: 20px auto;
    text-align: center;
  }
  .facegoogle {
    text-align: center;
    width: 400px;
    a {
      font-weight: lighter;
      font-size: 16px;
      line-height: 50px;
      display: block;
      width: 388px;
      height: 50px;
      color: #fff;
      border-radius: 4px;
      text-decoration: none;
    }
    a:nth-child(1) {
      background-color: #4E92DF;
      margin-top: 5px;
    }
    a:nth-child(2) {
      background-color: #DD6575;
      margin: 5px 0;
    }
    .h2 {
      font-weight: 16px;
      color: #DD6575;
    }
  }
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
@media (max-width: $login-fix) {
  .log {
    width: 310px;
    input[type=submit] {
      width: 310px;
    }
    .facegoogle a {
      width: 280px;
    }
    input[type=email] {
      margin-left: -2px;
    }
    input[type=password] {
      margin-left: -2px;
    }
  }
}
