.message_button {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #FF5F5F;
  position: fixed;
  right: 50px;
  bottom: 50px;
  outline: none;
  border: none;
  -webkit-box-shadow: 3px 3px 15px -2px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 3px 3px 15px -2px rgba(0, 0, 0, 0.68);
  box-shadow: 3px 3px 15px -2px rgba(0, 0, 0, 0.68);
  &:focus {
    border: none;
  }
  i {
    font-weight: lighter;
    color: #fff;
  }
}
.message_content {
  #message_email{
  padding-left: 10px;
  }
  textarea{
    width: 100%;
    height: 100px;
    resize: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .message_save {
    height: 40px;
    width: 130px;
    border-radius: 5px;
    border: none;
    background-color: #FF5F5F;
    color: #fff;
  }
  .message_cancel {
    height: 40px;
    width: 130px;
    border-radius: 5px;
    border: 1px solid #BEBEBE;
    background-color: #fff;
    color: #BEBEBE;
  }
}
.message_footer {
  border-top: none;
}
.message_header {
  padding: 10px 15px 5px;
  border-bottom: none;
  background-color: #F0F0F0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.message_input{
  padding: 10px 0;
}
