// Place all the styles related to the scheduleds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.scheduled-head {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 15px;
  color: #6A6A6A;
  h3 {
    font-weight: lighter;
    line-height: 0.8;
    margin-top: 10px;
  }
  p {
    line-height: 0.8;
    font-size: 14px;
  }
}
.scheduled {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 15px;
  padding: 0 0 15px;
}
.scheduled-image {
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .scheduled-dark {
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 2;
    position: absolute;
  }
  .scheduled-white {
    z-index: 1;
  }
  .scheduled-text {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: #fff;
    transform: translate(-50%,-45%);
    width: 140px;
    h1 {
      font-weight: lighter;
      line-height: 0.6;
      font-size: 24px;
    }
    h5 {
      color: #2ECEAC;
      line-height: 0.6;
      margin-top: 0;
    }
    h6 {
      color: #fff;
      line-height: 2;
      margin: 0 5px;
      display: inline;
    }
    h3{
      margin-top: 15px;
    }
  }
}
.gotoclass {
  button[name="gotoclass"] {
    border: 1px solid #7EB0EA;
    border-radius: 23px;
    width: 175px;
    height: 40px;
    background-color: #fff;
    color: #7EB0EA;
    margin-top: 15px;
    font-size: 15px;
    font-weight: lighter;
    transform: translateX(50%);
    left: 50%;
    // margin: 10px auto;
  }
  button[name="gotoclass"]:hover {
    background-color: #7EB0EA;
    color: #fff;
  }
  button[name="gotoclass"]:focus{
    outline: none;
  }
}
.teacherfix .conatiner-fluid{
  button {
    margin-left: -30px;
  }
}
.ratingnow {
  button[name="rating"],#eval-send,button {
    border: 1px solid #FF6969;
    border-radius: 23px;
    width: 175px;
    height: 40px;
    background-color: #fff;
    color: #FF6969;
    left: 50%;
    transform: translateX(50%);
    margin-top: 15px;
    font-size: 15px;
    font-weight: lighter;
    &:hover {
      background-color: #FF6969;
      color: #fff;
    }
    &:focus{
      outline: none;
    }
  }
}
.rated {
  button[name="rated"],#eval-send,button {
    border: 1px solid #ffccff;
    border-radius: 23px;
    width: 175px;
    height: 40px;
    background-color: #fff;
    color: #ffccff;
    left: 50%;
    transform: translateX(50%);
    margin-top: 15px;
    font-size: 15px;
    font-weight: lighter;
    &:hover {
      background-color: #ffccff;
      color: #fff;
    }
    &:focus{
      outline: none;
    }
  }
}
.wait {
  button[name="wait"],#eval-send,button {
    border: 1px solid #d1d1e0;
    border-radius: 23px;
    width: 175px;
    height: 40px;
    background-color: #d1d1e0;
    color: #fff;
    left: 50%;
    transform: translateX(50%);
    margin-top: 15px;
    font-size: 15px;
    font-weight: lighter;
    &:focus{
      outline: none;
    }
  }
}
.scheduled {
  .col-sm-5,
  .col-sm-7 {
    padding: 0;
  }
}
.user-list {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 15px;
  text-align: left;
  padding: 0 0;
  a {
    // display: block;
    text-decoration: none;
    line-height: 3;
    color: #6A6A6A;
    margin-left: 10px;

  }
  i {
    color: #6A6A6A;
    margin: 0 10px;
  }
}

.current_tab {
  a{
    font-weight: bold;
    color: #FF5F5F  !important;
  }
}

.scheduled-editprofile-fix {
  label{
    display: inline-block;
  }
  .input-group {
    width: 100%;
    .form-control {
      float: right;
      width: 75%;
    }
  }
}
.mytutor-sort {
  margin-top: 15px;
}

.tutor-info {
  padding-top: 1px;
  margin-top: 15px;
  border-radius: 5px;
  background-color: #fff;
  h5 {
    font-weight: lighter;
    margin-top: 5px;
  }
  span {
    line-height: 2;
  }
  .tutor-top {
    margin: 8px 0;
    .info-tag{
      margin-bottom: 15px;
      margin-left: 20px;
    }
  }
  button, a{
    border: none;
    width: 128px;
    height: 41px;
    color: #fff;
    background: #FC6063;
    font-weight: 100;
    position: absolute;
    right: 30px;
    bottom: 10px;
    border-radius: 5px;
  }
  a {
    line-height: 2.7;
    text-align: center;
    text-decoration: none;

  }
}
.scheduled-content{
  img{
    width: 50px;
    height: auto;
    border-radius: 50%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
  }
  img[alt="Flag"]{
    border-radius: 0;
    height: 20px;
    width: 30px;
  }
}
.filebuttondiv{
  text-align: center;
  position: relative;
  margin-top: 10px;
  i,span{
    color: #FF5F5F;
    font-weight: lighter;
  }
  i{
    margin-right: 10px;
  }
  .filebutton{
    position: absolute;
    width: 40%;
    //opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 156px;
    display: inline;
    cursor: pointer;
    bottom: 0;
  }
}

.remark{
  .info-mypic img{
    margin-left: 10px;
  }
  .info-tag{
    margin-left: 0;
  }
}
.mytutor-sort .selsct_scheduled{
  button{
  height: 40px;}
}
.findtutor{
  padding: 0 30px;

  h3,h5,p{
    font-weight: lighter;
      line-height: 1.5;
  }
  p{
    font-size: 16px;
  }
  a{
    text-decoration: none;
    background-color: #FF5F5F;
    width: 130px;
    height: 40px;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    line-height: 40px;
  }
h5{
  margin:  20px 0;
}
}
.userimage{
  margin-top:15px;
  img{
    height: 100px;
    width: 100px;
  }
}
.suggestion{
  a{
    color: inherit;
  }
}
.recommend_head{
  margin-top: -15px;
}
.classes_dropdown{
  border-radius: 50%;
  height: 20px;
  width: auto;
  background-color: transparent;
  color: #bbb;
  border:none;
  margin-top: -5px;
  i{
    font-size: 18px;
  }
}
.classes_meun{
  left: -40px ;
  min-width:inherit;
  input{
    background-color: transparent;
    color: #f52d40;
    border: none;
    outline: 0;
  }
}
.bootrialfree{
  background-color: #7FD428;
}
@media (max-width: $screen-xs-min) {
  .scheduled-text {
    h1 {
      font-size: 19px;
    }
  }
  .scheduled-head {
    h4 {
      font-size: 14px;
    }
    p {
      font-size: 12px;
    }
  }
  .scheduled-editprofile-fix {
    .input-group {
      width: 100%;
      // margin: 10px -10px;
    }
  }
}
@media (max-width: $screen-sm-min) {
  .editprofile-save{
    input,button{
    width: 100%;}
  }
  .gotoclass,
  .ratingnow {
    button {
      margin: 0 auto;
    }
  }
  .scheduled-content .input-group {
    width: 100%;
    padding-right: 30px;
    input {
      width: 100%;
    }
  }
  .scheduled-editprofile-fix {
    .birthday-fix{
      label{
        margin-right: 40px;
      }
      .bootstrap-select{
      width: 100px;
      }
    }
  }
}
@media (min-width: $screen-sm-min)and (max-width: $screen-md-min) {
  .scheduled {
    padding: 0;
  }
  .scheduled-white {
    img {
      background-size: cover;
      height: 135px;
      width: 100%;
      overflow: hidden;
      border-top-right-radius: 0;
      border-bottom-left-radius: 5px;
    }
  }
  .scheduled-text {
    h1 {
      font-size: 22px;
    }
  }
  .scheduled .scheduled-dark {
    width: 280px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
  }
  .scheduled-editprofile-fix {
    .input-group {
      width: 600px;
    }
      .birthday-fix{
        label{
          margin-right: 60px;
        }
      }
    .input-group .form-control {
      width: 500px;
    }
  }
  .scheduled-changepassword-fix {
    .input-group {
      width: 100%;
      .form-control {
        float: right;
        width: 400px;
        margin-right: 60px;
      }
    }
  }
  .remark{
    .info-mypic img{
      margin-left: -10px;
    }
    .info-pro-fix{
      margin-top: 10px;
    }
  }
}

@media (min-width: $screen-md-min) {
  .scheduled-white {
      overflow: hidden;
      width: 202px;
      border-bottom-left-radius:5px;
      border-top-left-radius:5px;
      // position: relative;
    img {
      position: relative;
      left: -50%;
      width: auto;
      height: 137px;
      background-position: center center;
        }
  }
  .scheduled-text {
    h1 {
      font-size: 22px;
    }
  }
  .scheduled {
    padding: 0;
    .scheduled-dark {
      border-top-right-radius: 0;
      border-bottom-left-radius: 5px;
      width: 202px;
    }
  }
  .scheduled-changepassword-fix {
    .input-group .form-control {
      width: 440px ;
      margin-left: -5px;
    }
  }
  .scheduled-editprofile-fix {
    .birthday-fix{
      // width: 320px;
      label{
        margin-right: 35px;
      }
    }
    .input-group {
      padding-right: 30px;
      .form-control{
        width: 357px;
      }
    }
  }
  .gotoclass,
  .ratingnow {
    button {
      margin-left: -50px;
    }
  }
  .tutor-info{
    .info-tag{
      margin-left: 20px;
    }
    button,a{
      bottom: 25px;
    }
  }
  .teacher_classes{
    .scheduled-white{
      width: 225px;
      img{
        left: -40%;
      }
    }
    .scheduled-dark{
      width: 225px;
    }
  }
  .teacher_sort {
    margin-left: -15px;
    margin-right: -15px;
  }
}
