
  <div id="rateYo"></div>
  <div id="content"><%= @raty %></div>
<% if current_user && @appointment.user == current_user %>
  <input type="text" id="comment" value="add a comment"/>
  <button class="button" >Create</button>
<% end %>


<script type="text/javascript" charset="utf-8">

$(function () {
  $("#rateYo").rateYo({
    starWidth: "40px",
    numStars: 5,
    halfStar: true,
    rating: <%= @raty %>
  });
});

$(function () {

  var $rateYo = $("#rateYo").rateYo();

  $(".button").click(function () {
    var rating = $rateYo.rateYo("rating");
    var comment = document.getElementById("comment").value;

    var appointment_id =  <%= @appointment.id %>;
    $.ajax({
      type: 'POST',
      url: "/appointments/" + appointment_id + "/evalutions",
      data: {
        rating: rating,
        comment: comment
      },
      success: function(){
        window.location.assign("http://localhost:3000/");
      },
      error: function() {
        alert("failed");
      }
    });
  });
});

</script>

