<div id='calendar' style="width:50% ; height:50%"></div>
<%= csrf_meta_tag %>
<script>
  $(document).ready(function () {

// page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
      theme: true,
      //24小時制 大寫H
      timeFormat: 'H:mm',
      //移除allDay的欄位
      allDaySlot: false,
      defaultDate: '<%=Time.now.strftime("%Y-%m-%d")%>',
      defaultView: 'agendaWeek',
      selectable: true,
      selectHelper: true,
      select: function (start, end) {
        var c = confirm("是否設定可預約時段？")
        var eventData;
        if (c) {
//        做一個ajax
          $.ajax({
            url: '<%= teacher_calendars_url %>.json',
            data: {start: start.format(), end: end.format()},
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            type: "POST",
            dataType: 'text',
            success: function (msg) {

//              var events = JSON.parse(msg);
//                eventData = {
//                  start: events.start,
//                  end: events.end,
//                  backgroundColor: 'blue',
//                  rendering: 'background',
//                };
//                $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
              $('#calendar').fullCalendar( 'refetchEvents' )
            },

            error: function (xhr, ajaxOptions, thrownError) {
              alert(xhr.status);
              alert(thrownError);
            }
          });
        }
        $('#calendar').fullCalendar('unselect');
      },

//      editable: true,
      eventLimit: true, // allow "more" link when too many events
//      events: 'http://localhost:3000/teacher_calendar/teacher_available_section.json'
      eventSources: [
        {
          //teacher events source
          url: 'http://localhost:3000/teacher_calendars/<%= @teacher.id %>/teacher_available_section.json', // use the `url` property
//          backgroundColor: 'blue',
//          rendering: 'background',
        }
      ],
    });

  });
</script>
